/* Author: Harshit Gajjar */
:root {
  --white-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);

  color: white;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.result {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 2rem;
}

.players {
  width: 100%;
  display: grid;
  margin: 0 2rem;
  margin-top: 3rem;
}

.player_one {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player_two {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player_name {
  font-size: 2.7rem;
  font-weight: 600;
}

.player_score {
  width: 100%;
  font-size: 2.7rem;
  font-weight: 800;
  text-align: center;
  margin-top: 0.5rem;
  text-align: right;
  padding-left: 1rem;
}

.trophy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.trophy_img {
  width: 60%;
  height: auto;
}

.result_player {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: black;
}

@media screen and (min-width: 768px) {
  .players--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .result {
    font-size: 6rem;
  }

  .trophy_img {
    width: 20%;
  }

  .players {
    margin: 0 12rem;
    margin-top: 4rem;
  }

  .player_one {
    flex-direction: column;
  }

  .player_two {
    flex-direction: column;
    margin-top: 0;
  }

  .player_score {
    text-align: center;
  }

  .player_name {
    font-size: 4rem;
  }

  .player_score {
    font-size: 3rem;
    font-weight: 700;
  }

  .result_player {
    font-size: 5rem;
  }
}
