/*AUTHOR MIHIR MESIA*/
:root {
  --black-color: rgb(3, 3, 3);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}

.display_score {
  border-radius: 50%;
  background: #936c6c;
  box-shadow: -5px 5px 33px #453333, 5px -5px 33px #e1a5a5;
  width: 25rem;
  height: 25rem;
  margin: 2.5rem;
}

.score {
  align-items: center;
  text-align: center;
  padding: 4.5rem;
  font-size: 4.5rem;
}

.title_score {
  font-size: 4rem;
}

.message {
  text-align: center;
  margin: 2rem;
}

.text {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .title_score {
    font-size: 6rem;
  }

  .display_score {
    border-radius: 50%;
    background: #936c6c;
    box-shadow: -5px 5px 33px #453333, 5px -5px 33px #e1a5a5;
    width: 30rem;
    height: 30rem;
    margin: 0.5rem;
  }

  .score {
    align-items: center;
    text-align: center;
    padding: 8.5rem;
    font-size: 3.5rem;
  }

  .text {
    font-size: 3.5rem;
    margin: 4.5rem;
  }
}
